table {
  border-collapse:collapse; width:100%;
  thead {
    th, td {padding-top:0; padding-bottom:0; }
  }
  th, td {vertical-align:baseline; padding: 4px 0; border-bottom: 1px solid #EDEDED;}
  th {
    border-bottom: 1px solid #EDEDED; width:1px; padding-right:10px;
    label {white-space:nowrap;}
  }
  td {
    padding-left:2px;
    a { color: #999; text-decoration: none; font-size: 11px; }
    input[type=text], input[type=password], textarea {
      border-radius:1px;
      width:100%; margin-left:-2px; border:1px solid #000; border-color:#abadb3 #dbdfe6 #e3e9ef #e2e3ea;
      &:hover {border-color:#5794bf #b7d5ea #c7e2f1 #c5daed;}
    }
    textarea.mini {height:60px; resize:none;}
    input[type=password] {width:auto;}
    select {margin-left:-2px;}
    .imp_redactor_box {margin-left:-2px;}
  }
} 