- unless parent.new_record?
  = content_for(:page_sidebar) do
    %h5 
      Фотографии
      - if editable ||= false
        = link_to "ред.", [:admin, parent]
    .product-photos
      %ul.photos#photo-list
        = render parent.photos

      #preview
      #drag-n-drop{:style => "display: none; margin-top: 5px;"}
        #drop-zone.b-dropzone{style: 'height: 100px;', data: {"upload-url" => url_for([:admin, parent, :photos])}}
          .b-dropzone__bg
          .b-dropzone__txt Перетащите файлы сюда
      
      
      #buttons-panel{style: 'margin-bottom: 10px;'}
        .b-button.js-fileapi-wrapper
          .b-button__text Загрузить файлы
          %input.b-button__input.js-fileapi{:name => "files", :type => "file",  :multiple => true, data: {"upload-url" => url_for([:admin, parent, :photos])}}
      = photo_sortable url_for([:sort, :admin, parent, :photos])