@import redde/mixins

.btn
  display: inline-block
  text-decoration: none
  border-radius: 2px
  font-family: $family
  line-height: (14/12)
  color: #fff
  background-color: #53a0c6
  padding: 8px 13px
