$family: "Lucida Grande", "Lucida Sans Unicode", helvetica, arial, verdana, sans-serif

$text: #000
$link: #19709b
$light-red: #fb4657

=clearfix
  &:before, &:after
    content: ''
    display: table
    clear: both
