- content_for(:page_header) do
  %h1  <%= resource_name %>
  %p= link_to "Добавить <%= resource_name %>", new_admin_<%= singular_controller_routing_path %>_path
  
- unless @<%= plural_resource_name %>.empty?
  %table.list
    %thead
      %tr
        <%- columns.each do |column| -%>
        %th <%= column.name%>
        <%- end -%>
        %th
    - @<%= plural_resource_name %>.each do |<%= resource_name %>|
      %tr
        <%- columns.each do |column| -%>
        %td= link_to <%= resource_name %>.<%= column.name %>, [:edit, :admin, <%= resource_name %>]
        <%- end -%>
        %td= link_to "Удалить", [:admin, <%= resource_name %>], :method => :delete, :confirm => "Удалить?", class: :del
