.main
	box-shadow: 0 0 3px #ccc
	border-radius: 6px
	border: 1px solid #D7D7D7
	min-height: 500px
	background-color: #fff
	padding: 0	
	border-bottom: 1px solid #DADEE5
	margin: 0

.wrapper  
	box-sizing: border-box
	padding: 0 30px 30px 215px
	max-width: 1260px
	min-width: 800px
	margin: 0 auto
	&:after
		content: ''
		display: table
		clear: both

.sidebar
	margin-left: -215px

.main
	margin-left: -185px
	.sidebar + &
		float: left
		width: 100%
		margin-left: 0

.content
	padding: 30px
	.page._sidebar &
		margin-right: 305px

// .sidebar .page-sidebar
// 	float: right