.orders {
  border-collapse:collapse; width:100%;
  th {background:#AE4C4C; color:#fff; padding:2px 5px; text-align:left; font-size:24px; font-weight:normal; font-family:Verdana; }
  th.green {background:#65C2BB;}
  td {padding:5px 6px; vertical-align:baseline; width:auto;}
  tr:hover td {background:#ffc; cursor:pointer;}
  .i3, .i4 {text-align:right;}
  .i1 {
    width:1px; white-space:nowrap;
    strong {font-weight:bold; font-size:16px;}
    em {font-style:normal; font-size:10px; }
  }
  .i2 {color:#999; line-height:16px;}
  .i3 {font-size:10px;}
  .i4 {vertical-align:top; border-left:1px solid #EDEDED; width:1%;}
  a { color:#000; }
  a:hover {text-decoration:underline;}
  p {padding-right:22px; font-size:11px; line-height:18px;}
  p.name {background:url(admin/fio.png) no-repeat 100% 0; font-weight:bold;}
  p.email {background:url(admin/email.png) no-repeat 100% 0;}
  p.phone {background:url(admin/phone.png) no-repeat 100% 0;}
}