.rfile
  position: relative

.rfile__btn
  position: relative
  &:before
    margin-left: 0
    margin-right: 0.6em

.rfile__wrap
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  overflow: hidden

.rfile__name
  margin-left: 0.25em

.rfile__inp
  position: absolute
  top: -10px
  right: -40px
  font-size: 50px
  opacity: 0
  cursor: pointer

.rfile__del
  margin-left: 0.25em
  cursor: pointer
  user-select: none
