- a = controller.controller_name
%ul#nav
  -case @active
  -when :shop then
    %li{:class => "#{'active' if a == 'products'}"}= link_to "Товары", admin_products_path
  -when :materials then
    %li{:class => "#{'active' if a == 'articles'}"}= link_to "Статьи", [:admin, :articles]
  -when :system
    %li{:class => "#{'active' if a == 'users'}"}= link_to "Пользователи", admin_users_path