- if f.object.errors.any?
  .error-msg
    .error-msg__badge Ошибок #{f.object.errors.count}
    %ul.error-msg__list
      - f.object.errors.each do |attribute, msg|
        %li
          %strong= f.object.class.human_attribute_name(attribute)
          = msg