= redde_page do |f|
  - form_column_names.each do |column|
    = f.redde_field column.to_sym
  - if column_names.include?('ancestry')
    = f.redde_select :parent_id, ancestry_tree(model_name.roots.order(:position), title_symbol_for(instance_variable_get("@#{record}"))), include_blank: 'Корневая'

  -# %div= render 'redditor/admin/page', { f: f } if @article.methods.include?(:page)

  -# проверить и написать правильное условие
  -# f.object.class.reflect_on_association(:seo)
  =# render 'admin/seos/block', { f: f } if f.object.methods.include?(:seo)
