- @active = :shop if (["products", "categories", "brands", "orders", "countries", "regions", "sliders"].include? controller.controller_name) && params[:slider_block] != "2"
- @active = :materials if (["articles", "categories", "works"].include? controller.controller_name) || params[:slider_block] == "2"
- @active = :system if ["users"].include? controller.controller_name
#launchbar
  %ul.menus
    %li{:class => "#{'active' if  @active == :materials}"}= link_to "Материалы", admin_articles_path
    %li{:class => "#{'active' if @active == :shop}"}= link_to "Обратная связь", "#"
    %li{:class => "#{'active' if  @active == :system}"}= link_to "Система", admin_users_path
    %li.fr= Russian.strftime(Time.now,"%d %b, %Y %H:%M ")