.fileapi
  margin-bottom: 30px

.fileapi__btn
  position: relative
  display: inline-block
  overflow: hidden

.fileapi__inp
  font-size: 50px
  position: absolute
  top: -10px
  right: -40px
  z-index: 2
  cursor: pointer
  opacity: 0