- if res_collection.any?
  %table.list{list_table_options}
    %colgroup
      %col.list__col
      - index_columns.each do |column|
        %col.list__col
      %col.list__col._del
      %col.list__col
    %thead
      %tr
        %th.list__head
        - index_columns.each_with_index do |column, index|
          - if ['position', 'visible'].include? column
            %th.list__head.list__head_empty
          - else
            %th.list__head= model_name.human_attribute_name(column)
        %th.list__head.list__head_del
        %th.list__head
    = yield

  = paginate res_collection, theme: 'redde' if res_collection.method_defined?(:total_pages)

- else
  %h3
    Ни одной #{tplural(model_name)} не найдено
